
:root {
    /* Default variables (light mode) */
    --default-font: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --heading-font: "Raleway", sans-serif;
    --nav-font: "Poppins", sans-serif;
    --background-color: #ffffff;
    --default-color: #444444;
    --heading-color: #37423b;
    --accent-color: #5fcf80;
    --contrast-color: #ffffff;
    --nav-color: #272828;
    --nav-hover-color: #5fcf80;
    --nav-dropdown-background-color: #ffffff;
    --nav-dropdown-color: #272828;
    --nav-dropdown-hover-color: #5fcf80;
    scroll-behavior: smooth;
  }
  
  :root.dark-mode {
    /* Dark mode variables */
    --background-color: #121212;
    --default-color: #e0e0e0;
    --heading-color: #ffffff;
    --accent-color: #5fcf80;
    --contrast-color: #ffffff;
    --nav-color: #ffffff;
    --nav-hover-color: #5fcf80;
    --nav-dropdown-background-color: #1f1f1f;
    --nav-dropdown-color: #e0e0e0;
    --nav-dropdown-hover-color: #5fcf80;
  }
  
  /* General Styles */
  body {
    color: var(--default-color);
    background-color: var(--background-color);
    font-family: var(--default-font);
  }
  
  a {
    color: var(--accent-color);
    text-decoration: none;
    transition: 0.3s;
  }
  
  a:hover {
    color: color-mix(in srgb, var(--accent-color), transparent 25%);
    text-decoration: none;
  }
  
  h1, h2, h3, h4, h5, h6 {
    color: var(--heading-color);
    font-family: var(--heading-font);
  }
  
  /* Header Styles */
  .header {
    color: var(--default-color);
    background-color: var(--background-color);
    padding: 15px 0;
    transition: all 0.5s;
    z-index: 997;
  }
  
  .header .logo h1 {
    font-weight: 700;
    font-size: 30px;
    margin: 0;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: var(--accent-color);
  }
  
  .header .btn-getstarted {
    color: var(--contrast-color);
    background: var(--accent-color);
    font-size: 14px;
    padding: 8px 25px;
    margin: 0 0 0 30px;
    border-radius: 50px;
    transition: 0.3s;
  }
  
  .header .btn-getstarted:hover {
    color: var(--contrast-color);
    background: color-mix(in srgb, var(--accent-color), transparent 15%);
  }
  
  .scrolled .header {
    box-shadow: 0px 0 18px color-mix(in srgb, var(--default-color), transparent 85%);
  }
  
  /* Navigation Menu */
  .navmenu a {
    color: var(--nav-color);
    padding: 18px 15px;
    font-size: 16px;
    font-family: var(--nav-font);
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: space-between;
    white-space: nowrap;
    transition: 0.3s;
  }
  
  .navmenu li:hover > a,
  .navmenu .active {
    color: var(--nav-hover-color);
  }
  
  .navmenu .dropdown ul a {
    padding: 10px 20px;
    font-size: 15px;
    text-transform: none;
    color: var(--nav-dropdown-color);
  }
  
  .navmenu .dropdown ul a:hover {
    color: var(--nav-dropdown-hover-color);
  }
  
  /* Dark Mode Navigation Menu */
  .dark-mode .navmenu a {
    color: var(--nav-color);
  }
  
  .dark-mode .navmenu li:hover > a,
  .dark-mode .navmenu .active {
    color: var(--nav-hover-color);
  }
  
  .dark-mode .navmenu .dropdown ul a {
    color: var(--nav-dropdown-color);
  }
  
  .dark-mode .navmenu .dropdown ul a:hover {
    color: var(--nav-dropdown-hover-color);
  }
  
  /* Light Mode Navigation Menu */
  .light-mode .navmenu a {
    color: var(--nav-color);
  }
  
  .light-mode .navmenu li:hover > a,
  .light-mode .navmenu .active {
    color: var(--nav-hover-color);
  }
  
  .light-mode .navmenu .dropdown ul a {
    color: var(--nav-dropdown-color);
  }
  
  .light-mode .navmenu .dropdown ul a:hover {
    color: var(--nav-dropdown-hover-color);
  }

  .pricing-item.featured {
    border: 2px solid #007bff;
}
/* 
 Dark mode styles */
.dark-mode .projects-section {
    background-color: var(--background-color);
    color: #f9f9f9;
}

.dark-mode .project-item {
    border: 1px solid #444;
   background-color: var(--background-color);
    color: #f9f9f9;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.dark-mode .pricing-item {
    border: 1px solid #444;
    background-color: var(--background-color);
    color: #f9f9f9;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
}

.dark-mode .pricing-item.featured {
    border: 2px solid #007bff;
}   

.whatsapp-float {
  position: fixed;
  left: 20px;
  bottom: 20px;
  z-index: 1000;
  background-color: #25d366;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s;
}

.whatsapp-float:hover {
  background-color: #1ebe5b;
}

.whatsapp-icon {
  width: 35px;
  height: 35px;
}


.floating-menu {
  position: fixed;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1000;
}

#menu-toggle {
  display: none;
}

.menu-icon {
  font-size: 30px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  background-color: #333;
  color: white;
  border-radius: 50%;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.menu {
  display: none;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 70px;
  gap: 10px;
}

#menu-toggle:checked + .menu-icon + .menu {
  display: flex;
}

.menu-item {
  background-color: #333;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s;
}

.menu-item:hover {
  background-color: #555;
}
